
.bg-black {
    background-color: black;
  }

  #play-button {
    height: 50px;
    border: 1px solid red;
    border-radius: 5px;
    padding: 1rem; 
    font-weight: bold;
    color: white;
    background-color: black;
  }

  #music-upload-input {
    display: none;
}

.music-upload-button {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    color: white;
    font-weight: bold;
    display: block;
    /* margin-right: 1rem; */
}
/* need to add hover colors to buttons */